﻿/*
Theme Name: Luna
Description: Responsive One Page Portfolio Template
Author: Bluminethemes
Theme URI: http://bluminethemes.com/preview/html/luna/
Author URI: https://creativemarket.com/Bluminethemes
Version: 1.1.2
*/

@media(min-width:768px){

	.project-content .container {
		max-width: 750px;
		width: auto;
	}
	
}

@media (min-width: 992px) {
	
	.project-content .container {
		max-width: 950px;
		width: auto;
	}
	
}

@media (min-width: 1200px) {
	
	.portfolio .portfolio-item {
		width: 280px;
	}

	.portfolio .portfolio-item.column-big {
		width: 580px;
	}
	
}

@media (min-width: 1500px) {
	
	.portfolio .portfolio-item {
		width: 355px;
	}

	.portfolio .portfolio-item.column-big {
		width: 730px;
	}
	
}


@media(min-width:1200px){

	.project-content .container {
		max-width: 1170px;
		width: auto;
	}
	
}

@media (max-width: 480px) {
	
	.portfolio .portfolio-item .project-overlay .fa {
		font-size: 30px;
	}

}

@media (max-width: 767px) {
	
	.portfolio .portfolio-item .project-overlay .fa {
		font-size: 40px;
	}
	
	.profile-content {
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	
}

@media (max-width: 992px) {
	
	.services .service {
		margin-top: 50px;
	}
	
	.services .item-list {
		border-left: 0px solid #D3D3D3;
		padding-left: 0px;
	}
	
	.services .color div{
		margin-left: auto;
		margin-right: auto;
	}
	
	.services .service-item {
		text-align: center !important;
	}
	
}

@media (max-width: 1024px) {
	
	.portfolio .portfolio-item .project-overlay .fa {
		font-size: 50px;
	}
	
	.portfolio .portfolio-item h4 {
		bottom: 50px;
		left: 20px;
	}
	
	.portfolio .portfolio-item p.portfolio-categories {
		bottom: 20px;
		left: 20px;
	}
	
}