﻿/*
Theme Name: Luna
Description: Responsive One Page Portfolio Template
Author: Bluminethemes
Theme URI: http://bluminethemes.com/preview/html/luna/
Author URI: https://creativemarket.com/Bluminethemes
Version: 1.1.2
*/

// Less
@mainColor: #5AA9CE;

.bold {
    font-weight: 700;
}
.normal {
    font-weight: 400;
}
.color-white {
    color: #ffffff !important;
}
.color-dark {
    color: #474747;
}
.font-ultra {
    font-size: 70px;
}
.font-big {
    font-size: 52px;
}
.highlight {
    color: @mainColor;
}
.font-lobster {
    font-family: 'Lobster', cursive;
    text-transform: none;
}
.bg-white {
    background: #fff !important;
}
.bg-transparent {
    background: transparent !important;
}
.color-overlay {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
}
.border-section {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 1px auto;
}
.button-border-color {
    width: auto;
    height: auto;
    background: transparent;
    color: @mainColor;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    border: 2px solid @mainColor;
    border-radius: 5px;
    letter-spacing: 0.20em;
    margin-top: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button-border-color:hover {
    color: #fff;
    text-decoration: none;
    background: @mainColor;
    border: 2px solid @mainColor;
}
.button-color {
    width: auto;
    height: auto;
    background: @mainColor;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    border: 2px solid @mainColor;
    border-radius: 5px;
    letter-spacing: 0.20em;
    margin-top: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button-color:hover {
    color: @mainColor;
    text-decoration: none;
    background: #ffffff;
    border: 2px solid @mainColor;
}
.button-border-white {
    width: auto;
    height: auto;
    background: transparent;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    border: 2px solid #ffffff;
    border-radius: 5px;
    letter-spacing: 0.20em;
    margin-top: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button-border-white:hover {
    color: @mainColor;
    text-decoration: none;
    background: #ffffff;
    border: 2px solid #ffffff;
}
.button-white {
    width: auto;
    height: auto;
    background: #ffffff;
    color: @mainColor;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    border: 2px solid #ffffff;
    border-radius: 5px;
    letter-spacing: 0.20em;
    margin-top: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button-white:hover {
    color: @mainColor;
    text-decoration: none;
    background: #ffffff;
    border: 2px solid #ffffff;
}
.home-slider {
    .button {
        margin-bottom: 60px;
    }
}
.line-white {
    display: block;
    width: 200px;
    height: 1px;
    background: #ffffff;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0.7;
}
.line-color {
    display: block;
    width: 200px;
    height: 1px;
    background: #aaaaaa;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0.7;
}
